.item-cart {
  background-color: #fff;
  max-width: 600px;
  min-width: 150px;
  margin-top: 50px;
}

.cart-table {
  margin: 25px;
  border: 1px solid #999;
}

.cart-table thead {
  background-color: #eee;
  border: 1px solid #999;
  font-size: 12px;
  padding: 15px;
  text-align: center;
}

.cart-table thead td {
  padding: 10px;
}

.cart-table tbody td {
  padding: 10px;
}

.phone-name-cart {
  color: #000;
  margin-top: 15px;
}

@keyframes nameHover {
  from {
    color: #000;
  }
  to {
    color: #0cafe5;
  }
}

.phone-image-cart:hover {
  cursor: pointer;
}

.phone-name-cart:hover {
  animation: nameHover 200ms forwards;
  cursor: pointer;
}

.price-details {
  background-color: #fff;
  margin: 50px 20px 20px 10px;
  max-width: 325px;
  min-width: 325px;
}

.price-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 325px;
}

.shopping-button {
  font-size: 15px;
  margin-top: 25px;
  
}

.shopping-button:hover {
  animation: nameHover 200ms forwards;
  cursor: pointer;
}


.coupon-tab {
  background-color: #fff;
  margin: 20px 20px 20px 10px;
  max-width: 325px;
  min-width: 325px;
}

.coupon-imput {
   background-color: #eee;
   margin: 10px;
   width: 300px;
}

.empty-cart {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
}

