.contact-tab {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 250px;
    height: 550px;
    padding: 30px;
    margin: 30px;
    margin-left: 20px;
  }

  .contact-tab-dark {
    background-color: #393d4a;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 500px;
    min-width: 250px;
    height: 550px;
    padding: 30px;
    margin: 30px;
    margin-left: 20px;
  }

  .contact-info-tab {
      background-color: #fff;
      margin: 30px;
      padding: 20px;
      height: 475px;
      max-width: 500px;
      min-width: 250px;

  }
  
  .sub-bar-container {
      background-color: #fff;
      padding: 20px;
      margin-bottom: 50px;
  }

  .sub-bar-container-dark {
      background-color: #393d4a;
      color: white;
      padding: 20px;
      margin-bottom: 50px;
  }

  .containerClass {
      background-color: red;
  }