@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: Arial;
  font-family: 'Muli', sans-serif;
}
.nav-wrapper {
  width: 150px;
  text-align: center;
}
  .sl-nav {
  display: inline;
}
.sl-nav ul {
  margin-top: 7px;
  padding:0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
  padding-bottom:10px;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top:20px;
  right:-15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius:5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index:10;
  height: 14px;
  overflow:hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius:2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom:0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover, .sl-nav li ul li span.active {
  color: #146c78;
}

.support {
    color: #333;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}

.top-grid {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width:100%; 
  position:relative;
  white-space: nowrap;
}


.helper-container {
  background-color: #eee;
  height: 25px;
  margin-bottom: 0;
}


.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  margin-bottom: 0;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0cafe5;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #999;
  font-size: 15px;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #0cafe5;
  background: #0cafe5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.user-control {
  display: flex;
  list-style-type: none;
}

.user-control li {
  margin: 5px;
  font-size: 17px;
  color: #0cafe5;
}
.pointer {
  cursor: pointer;
}

.navbar {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #0cafe5;
}

.navbtn {
  background-color: #0cafe5;
  padding: 12px;
  width: 100%;
  color: white;
  font-size: 20px;
  border: none;
}

@keyframes navBtnHover {
  from {
    background-color: #0cafe5;
  }
  to {
    background-color: #0b80a7;
  }
}

.navbtn:hover {
  cursor: pointer;
  animation: navBtnHover 200ms forwards;
}