.subBar-container {
  padding: 50px;
  background-color: #0cafe5;
  color: #fff;
}

.subBar-container-dark {
  padding: 50px;
  background-color: #6cd60f;
  color: #fff;
}


.icon-border {
  font-size: 15px;
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.subscribe-form {
  background: rgb(12,175,229);
  padding: 50px;
}

.subscribe-form-dark {
  background: #6cd60f;
  padding: 50px;
}

.subscribe-input {
  margin-top: 15px;
  width: 100%;
  position: relative;
  display: flex;
}

.subscribe-input-field {
  width: 100%;
  border: 2px solid #fff;
  border-right: none;
  padding: 25px;
  height: 50px;
  outline: none;
  color: #999;
  font-size: 15px;
}

.subscribe-button {
  width: 120px;
  height: 54.5px;
  text-align: center;
  color: #0cafe5;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.subscribe-button-dark {
  width: 120px;
  height: 54.5px;
  text-align: center;
  color: black;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.cardContainer {
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
}

.darkCardContainer {
  display: inline-flex;
  flex-direction: column;
  background-color: #292C35;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
}

.darkCardContainer:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardContainer:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-textarea {
  border-top: 1px solid#eee ;
}
.buttonConainer {
  margin: 10px;
  margin-bottom: 0;
}

.category-bar {
  margin: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.category-bar-dark {
  margin: 15px;
  background-color: #393d4a;
  display: flex;
  flex-direction: column;
}

.page-buttons {
  text-align: center;
  margin: 10px;
}

.phone-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eaec;
}

.phone-block-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393d4a;
}

.phone-block-dark:hover {
  background-color: #5c6378;
  cursor: pointer;
}

.phone-block:hover {
  background-color: #fff;
  cursor: pointer;
}

.phone-block-big { 
  background-color: #e8eaec;
  display: flex;
}

.phone-block-big-dark{
  background-color: #393d4a;
  display: flex;
}

.phone-block-big-dark:hover {
  background-color: #5c6378;
  cursor: pointer;
}

.phone-block-big:hover {
  background-color: #fff;
  cursor: pointer;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #0cafe5;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #0cafe5,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #0cafe5,
      .5em 0 0 #0cafe5;
    }}

.user-links:hover {
  text-decoration: none;
  color: #000;
}