.subBar-container {
  padding: 50px;
  background-color: #0cafe5;
  color: #fff;
}

.icon-border {
  font-size: 15px;
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.subscribe-form {
  background: rgb(12,175,229);
  padding: 50px;
}

.subscribe-input {
  margin-top: 15px;
  width: 100%;
  position: relative;
  display: flex;
}

.subscribe-input-field {
  width: 100%;
  border: 2px solid #fff;
  border-right: none;
  padding: 25px;
  height: 50px;
  outline: none;
  color: #999;
  font-size: 15px;
}

.subscribe-button {
  width: 120px;
  height: 54.5px;
  text-align: center;
  color: #0cafe5;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.cardContainer {
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.cardContainer:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-textarea {
  border-top: 1px solid#eee ;
}
.buttonConainer {
  margin: 10px;
  margin-bottom: 0;
}

.category-bar {
  padding: 20px;
  margin: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.page-buttons {
  text-align: center;
  margin: 10px;
}
