.login-tab {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 250px;
  height: 475px;
  padding: 30px;
  margin: 30px;
}


.register-tab {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 250px;
  padding: 30px;
  margin: 30px;
}

.register-info-tab {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 250px;
  height: 570px;
  padding: 10px;
  margin: 30px;
}

.login-imput {
  background-color: #eee;
  font-size: 15px;
  padding: 8px;
  margin: 10px;
}

.login-imput-error {
  background-color: #eee;
  font-size: 15px;
  padding: 8px;
  margin: 10px;
  border: 1px solid red;
}

.login-imput:focus {
  border: 2px solid #000;
}

.login-infoField {
  margin-bottom: 8px;
}