.login-tab {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 250px;
  padding: 30px;
  margin: 20px;
}

.login-imput {
  background-color: #eee;
  font-size: 15px;
  padding: 8px;
  margin: 10px;
}

.login-imput:focus {
  border: 2px solid #000;
}

.login-infoField {
  margin-bottom: 8px;
}