.forgot-pass {
  background-image: url("/reset-password.jpg");
  background-size: 100%;
}

.forgot-pass-dark {
  background-size: 100%;
  background-color: #393d4a;
}

.forgot-pass-input {
  border: 2px solid #0cafe5;
  padding: 5px;
  min-width: 340px;
  margin: 15px 0 15px 0;
  background-color: #fff;
}

.change-pass {
  background-image: url("/change-password.jpg");
  background-size: 100%;
}


.forgot-pass-error-input {
  border: 2px solid red;
  padding: 5px;
  min-width: 340px;
  margin: 15px 0 15px 0;
  background-color: #fff;
}