
.other-images {
    display: flex;
    flex-direction: column;
  }
  
  .other-image {
    margin-top: 20px;
    padding: 3px;
    border: 1px solid #eee;
    background-color: #fff;
  }
  
  .other-image:hover {
    cursor: pointer;
    border: 1px solid #0cafe5;
  }
  
  .display-image {
    margin: 20px 20px 10px 20px;
    height: 450px;
  }

  .display-image-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 10px 20px;
    background-color: #fff;
    border: 5px solid #999;
    border-style: dotted;
    height: 450px;
  }
  
  .display-image-none:hover {
    cursor: pointer;
  }
  .display-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .quantity-value {
    display: flex;
    width: 50px;
    padding: 10px;
  }

  .phone-details {
    background-color: #fff;
    margin-bottom: 10px;
  }

  .details-list {
      list-style-type: none;
      margin: 10px;
      padding: 20px;
  }

  .review-grid-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
  }

  .listing-grid-item {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .review-message-imput {
      display: flex;
      background-color: #eee;
      margin: 20px;
      margin-top: 0;
   }
   
  .curs-hvr {
    text-align: center;
  }

   .curs-hvr:hover {
     cursor: pointer;
   }

   .curs-hver:hover {
    cursor: pointer;
  }

   .bid-price {
    display: flex;
    width: 100px;
    padding: 10px;
   }

   .bid-history {
    color: #0cafe5;
    margin-top: 10px;
    font-size: 15px;
   }

   .bid-history:hover {
     cursor: pointer;
   }

   .add-another {
     border: none;
     background-color: #fff;
     font-size: 9px;
     color: #0cafe5;
     width: 65px;
     height: 65px;
   }

   .money-imput {
     background-color: #fff;
     border: 2px solid rgb(68, 5, 216);
     padding-left: 10px;
     margin: 10px;
     margin-left: 0;
     width: 100%
   }

  .money-imput-error {
     background-color: #fff;
     border: 2px solid red;
     padding-left: 10px;
     margin: 10px;
     margin-left: 0;
     width: 100%
  }

   .money-desc {
    background-color: #fff;
    border: 2px solid rgb(68, 5, 216);;
    padding: 20px;
    margin: 10px;
    margin-left: 0;
   }

   .money-desc-error {
    background-color: #fff;
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    margin-left: 0;
   }
   
   .money-select {
    background-color: #fff;
    border: 2px solid rgb(68, 5, 216);;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    margin-left: 0;
    color: #999;
    width: 100%;
    }

    .money-select-error {
    background-color: #fff;
    border: 2px solid red;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    margin-left: 0;
    color: #999;
    width: 100%;
    }

    .active-image {
      border: 2px solid #0cafe5;
      width: 500px;
      height: 425px;
    }

    .remove-image-button {
      background-color: red;
      font-size: 12px;
      color: #fff;
      border: none;
      width: 200px;
      height: 40px;
      margin-left: 15px;
    }

    .mngm-side {
      display: 'flex';
      border-bottom: 1px solid #eee;
      width: 100%;
      padding: 10px
    }

    
    @keyframes nameHover {
      from {
        color: #000;
      }
      to {
        color: #0cafe5;
      }
    }
    
    .mngm-side:hover {
      cursor: pointer;
      animation: nameHover 200ms forwards;
      }

    .mngm-table {
      margin-left: 15px;
      margin-bottom: 30px;
      border: 1px solid #eee;
      width: 90%;
      padding: 15px;
      text-align: center;
    }

    .mngm-table tr {
      border-top: 1px solid #eee;
    }

    .mngm-text {
      color: #0cafe5;
    }

    .phone-name-mngm {
      font-size: 16px;
    }

    .phone-name-mngm:hover {
      animation: nameHover 200ms forwards;
      cursor: pointer;
    }

    .share-icon-mngm:hover {
      cursor: pointer;
    }

    .edit-btn-mngm {
      background-color: #0cafe5;
      color: #fff;
      width: 100%;
      text-align: center;  
      margin: 5px;
      padding: 5px;
      border-radius: 5px;      
    }

    .edit-btn-mngm:hover {
      cursor: pointer;
      opacity: 80%;
    }

    .delete-btn-mngm {
      background-color: red;
      color: #fff;
      width: 100%;
      text-align: center;  
      margin: 5px;
      padding: 5px;
      border-radius: 5px;    
    }

    .delete-btn-mngm:hover {
      cursor: pointer;
      opacity: 80%;
    }